<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration Confirmation</title>
</head>

<body>
<form action="#" th:action="@{/logout}" method="POST" class="d-inline-block">
	<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
</form>
<a th:href="@{/admin/dashboard}" class="btn btn-outline-primary mt-2 d-inline-block">Home</a>
<hr>

	<h2>User registered successfully!</h2>

	<!-- display first name, last name and email -->
	<ul>
		<li th:text="'User name: ' + ${webUser.userName}"></li>
		<li th:text="'First name: ' + ${webUser.firstName}"></li>
		<li th:text="'Last name: ' + ${webUser.lastName}"></li>
		<li th:text="'Email name: ' + ${webUser.email}"></li>
	</ul>

	<hr>
</body>

</html>